
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans&family=Poppins:wght@400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --color-primary-violet: hsl(263, 55%, 52%);
    --color-primary-grayish-blue: hsl(217, 19%, 35%);
    --color-primary-clay-gray: #48556A;
    --color-primary-blackish-blue: hsl(219, 29%, 14%);
    --color-primary-white: hsl(0, 0%, 100%);

    --color-neutral-light-gray: hsl(0, 0%, 81%);
    --color-neutral-light-grayish-blue: hsl(210, 46%, 95%);
    --color-neutral-border: #8654d6;

    --fs-body: 13.5px;

    --ff: "Barlow Semi Condensed", serif;

    --fw-regular: 500;
    --fw-bold: 600;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0; 
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: var(--fs-body);
    background: var(--color-neutral-light-grayish-blue);
    font-family: var(--ff);
    overflow: scroll;  
    scrollbar-color: var(--color-neutral-border);
    scrollbar-width: thick;
}

h1, h2{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: grid;
    gap: 1.5rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.flex {
    display: flex; 
    align-items: center;
}

.img-container {
    display: flex;
    align-items: center;
    margin-right: -10px;
}

.purple-border {
    border: 3px solid var(--color-neutral-border);
}

.profile-pic {
    width: min(56%);
    border-radius: 50%;
}

.quote-img {
    display: block;
    background: url(./images/bg-pattern-quotation.svg) no-repeat;
    background-size: 22.5%;
    background-position: top right 18%;
}

.card {
    border-radius: 15px;
    padding: 1.975rem;
    box-shadow: rgba(0, 0, 0, 0.15) 10px 2px 50px;
}

.card-a {
    background-color: var(--color-primary-violet);
    color: var(--color-primary-white);
}

.card-b {
    background-color: var(--color-primary-clay-gray);
    color: var(--color-primary-white);
}

.card-c {
    background-color: var(--color-primary-white);
    color: var(--color-primary-grayish-blue);
}

.card-d {
    background-color: var(--color-primary-blackish-blue);
    color: var(--color-primary-white);
}

.card-e {
    background-color: var(--color-primary-white);
    color: var(--color-primary-grayish-blue);
}

h1 {
    color: var(--color-primary-white);
    font-weight: var(--fw-regular);
    font-size: .85rem;
}

h2 {
    font-size: .71rem;
    opacity: 50%;
    line-height: 1.4rem;
}

.card-b h2, .card-d h2 {
    color: var(--color-neutral-light-grayish-blue);
}

.hook {
    font-family: var(--ff);
    font-weight: var(--fw-bold);
    font-size: 20px;
}

.review {
    font-size: var(--fs-body);
    opacity: 70%;
    line-height: 1.2rem;
    margin-bottom: 0;
}

.card-c h1, .card-e h1 {
    color: var(--color-primary-grayish-blue);
}

.card-a > .hook, .card-b > .hook, .card-d > .hook {
    color: var(--color-neutral-light-grayish-blue);
}

.card-c .hook {
    padding-right: 30px;
}

.card-a p, .card-b p,.card-d p {
    color: var(--color-neutral-light-gray);
}




@media (min-width: 50em) {
    
    .grid-row-span-2{
      grid-column-start: 4;
      grid-row: 1 / span 2;
    }
    
    .content{ 
        grid-template-columns: repeat(4, 1fr);
    }
  
    .grid-col-span-2 {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 51em) and (min-width: 23em) {
    
    .container {
        padding: 30px 10px;
    }

    .content{ 
        padding: 40px 25px;
        grid-template-columns: 1fr;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .img-container {
        margin-right: 0px;
    }

    .profile-pic {
        width: min(75%);
    }

    .quote-img {
        background-size: clamp(100px, 38%, 130px);
        background-position: top right 12%;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 15px;
    }


    .hook {
        font-size: 22px;
    }

    .review {
        font-size: 15px;
    }
}

 